
//设备查询
@media only screen and (width: 412px) {
  html{
    font-size: 16.68px;
  }
}

//320
@media only screen and (width: 320px) {
  html{
    font-size: 12.8px;
  }
}

//414
@media only screen and (width: 414px) {
  html{
    font-size: 16.56px;
  }
}

//375
@media only screen and (width: 375px) {
  html{
    font-size: 15px;
  }
}

//360
@media only screen and (width: 360px) {
  html{
    font-size: 14.64px;
  }
}

//768
@media only screen and (width: 768px) {
  html{
    font-size: 30.72px;
  }
}

//1024
@media only screen and (width: 1024px) {
  html{
    font-size: 40.96px;
  }
}