@charset "UTF-8";

//变量
@import "./setting";

@import "./normalize";

//清除样式
@import "./base";

//媒体查询
@import "./media";

@import "./footer";

.pro-header{
  width: (750rem/30);
  height: (750rem/30);
  img{
    width: (750rem/30);
    height: (750rem/30);
    background-size: (750rem/30) (750rem/30);
  }
}
.main4{
  width: (750rem/30);
  //height:500px;
  .main4-top{
    width: (750rem/30);
    height: (220rem/30);
    margin-left: (36rem/30);
    h3{
      font-size: (28rem/30);
      color: rgb(7,17,27);
      margin-top: (36rem/30);
    }
    .main4-p{
      margin-top: (16rem/30);
      .main4-span1{
        font-size: (20rem/30);
        color: rgb(147,153,159);
      }
      .main4-span2{
        font-size: (20rem/30);
        color: rgb(147,153,159);
        margin-left: (24rem/30);
      }
    }
    .main4-span3{
      display: inline-block;
      font-size: (20rem/30);
      color: red;
      margin-top: (36rem/30);
      b{
        font-size: (28rem/30);
        color: red;
      }
    }
    .main4-del{
      font-size: (20rem/30);
      color: rgb(147,153,159);
      font-weight: 700;
      margin-left: (16rem/30);
    }
    .main4-a{
      display: inline-block;
      width: (148rem/30);
      height: (48rem/30);
      background-color: rgb(0,160,220);
      font-size: (20rem/30);
      color: #fff;
      line-height: (48rem/30);
      padding: (12rem/30) (24rem/30);
      border-radius: (50rem/30);
      position: relative;
      top: 0;
      right: (-320rem/30);
    }
  }

  .main4-top1{
    width: (750rem/30);
    height: (30rem/30);
    border-bottom: 1px solid rgba(7,17,27,.1);
    border-top: 1px solid rgba(7,17,27,.1);
    background-color: #f3f5f7;
  }
  .main4-top2{
    width: (680rem/30);
    height: (202rem/30);
    margin: 0 auto;
    border-bottom: 1px solid rgba(7,17,27,.1);
  .main4-h4{
    font-size: (28rem/30);
    color: rgb(7,17,27);
    margin-top: (36rem/30);
  }
    ul{
      width: (680rem/30);
      height: (66rem/30);
      margin: 0 auto;
      li{
        width: (120rem/30);
        height: (66rem/30);
        line-height: (66rem/30);
        text-align: center;
        float: left;
        margin-top: (36rem/30);
        &:nth-child(1){
          background-color: rgb(0,160,220);
          margin-right: (16rem/30);
          .main4-a3{
            font-size: (24rem/30);
            color: $fontColor;
            .main4-b{
              font-size: (16rem/30);
              color: $fontColor;
              font-weight: normal;
            }
          }
        }
        &:nth-child(2){
          background-color: rgba(0,160,220,.2);
          margin-right: (16rem/30);
          .main4-a4{
            font-size: (24rem/30);
            color: rgb(77,85,93);
          }
          .main4-b1{
            font-size: (16rem/30);
            color: rgb(77,85,93);
            font-weight: normal;
          }
        }
        &:nth-child(3){
          background-color: rgba(77,85,93,.2);
          .main4-a5{
            font-size: (24rem/30);
            color: rgb(147,153,159);
          }
          .main4-b2{
            font-size: (16rem/30);
            color: rgb(147,153,159);
            font-weight: normal;
          }
        }

      }
    }
  }

  .main4-top3{
    width: (660rem/30);
    height: (252rem/30);
    margin-left: (36rem/30);
    .main4-h5{
      font-size: (28rem/30);
      color: rgb(7,17,27);
      margin-top: (36rem/30);
    }
    .main4-p1{
      font: (24rem/30) "微软雅黑";
      margin-left: (6rem/30);
      line-height: (48rem/30);
      margin-top: (12rem/30);
      color: rgb(77,85,93);
    }
  }
  .main4-top4{
    width: (750rem/30);
    height: (96rem/30);
    border-bottom: 2px solid rgba(7,17,27,.1);
    .main4-a6{
      line-height:(96rem/30) ;
      margin-left: (36rem/30);
      .bingo-icon{
        font-size: (48rem/30);
        color: rgb(147,153,159);
        position: relative;
        top: (6rem/30);
        left: 0;
        margin-right: (8rem/30);
      }
      .main4-span4{
        font-size: (24rem/30);
        color: rgb(147,153,159);
        font-weight: 700;
      }
    }
  }
  .main4-bot{
    width: (750rem/30);
    height: (560rem/30);
    ul{
      width: (680rem/30);
      height: (134rem/30);
      margin: 0 auto;
    }
    li{
      width: (680rem/30);
      height: (134rem/30);
      //line-height:(134rem/30) ;
      border-bottom: 1px solid rgba(7,17,27,.1);
      margin-top: (32rem/30);
      &:nth-child(3){
        border-bottom: none;
      }
      .main4-span5{
        font-size: (20rem/30);
        color: rgb(147,153,159);
      }
      .main4-span6{
        float: right;
        font-size: (20rem/30);
        color: rgb(147,153,159);
        img{
          width: (36rem/30);
          height: (36rem/30);
          background-size: (36rem/30) (36rem/30);
        }
      }
      .main4-p2{
        font-size: (24rem/30);
        color: rgb(7,17,27);
        margin-top: (16rem/30);
        .main4-icon2{
          font-size: (24rem/30);
          color: rgb(147,153,159);
        }
      }
    }
  }
}


